.add-fade {
  background: #fff;
  animation: fade-top 0.3s;
}

@keyframes fade-top {
  0% {
    top: -400px;
    opacity: 0.1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

<<<<<<< HEAD
.add-change {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

=======
>>>>>>> parent of 7fcac78... WB-6123: change efer
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  //flex: 0 0 100px;
  height: 100px;
  background: #cecece;
}

.content {
  flex: 1;
  background: yellow;
  display: flex;
}

aside {
  background: pink;
  flex: 0 1 25%;
}
section {
  flex: 1;
}

.footer {
  //flex-basis: 70px;
  height: 70px;
  background: red;
  display: flex;
}

.center {
  height: 70px;
  background-color: #50bf3c;
  flex: 1 1 auto;
}
.left {
  flex-basis: 200px;
  height: 70px;
  background-color: #ff5722;
}
.right {
  flex-basis: 150px;
  height: 70px;
  background-color: #2196f3;
}
