.add-fade {
  background: #fff;
  animation: fade-top 0.3s;
}

@keyframes fade-top {
  0% {
    top: -400px;
    opacity: 0.1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.add-change {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: calc(100vw - 80px);
  height: calc(100vh - 50px);
  margin: 0 auto;
  //background-color: #9ac9f0;
}

.container {
  width: 100vw;
  height: 100vh;
  //display: flex;
  //flex-direction: column;
  position: relative;
}

.header {
  //flex: 0 0 100px;
  height: 100px;
  background: #cecece;
}

.content {
  flex: 1;
  background: yellow;
  display: flex;
}

aside {
  background: pink;
  flex: 0 1 25%;
}
section {
  flex: 1;
}

.footer {
  //flex-basis: 70px;
  height: 70px;
  background: red;
  display: flex;
}

.center {
  height: 70px;
  background-color: #50bf3c;
  flex: 1 1 auto;
}
.left {
  flex-basis: 200px;
  height: 70px;
  background-color: #ff5722;
}
.right {
  flex-basis: 150px;
  height: 70px;
  background-color: #2196f3;
}

.checkmark_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

